html,
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App > div {
  width: 100%;
  height: 100%;
  display: flex;
}

.SidebarHolder {
  width: 500px;
  height: 100%;
  display: inline-block;
  background-color: #1d1d1d;
}

.ContentHolder {
  width: 100%;
  overflow-y: scroll;
  background: #edf2f6;
}

.CurrencyComponent {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  margin: 16px 12px;
  width: 270px;
  height: 122px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: transform 0.7s, opacity 0.5s,
    box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #fff;
  opacity: 0;
  transform: translateY(20px);
}

.CurrencyComponentIsBase {
  background-color: #f3f3f3;
  border: 1px solid #fff;
}

.CurrencyComponent.Appear {
  opacity: 1;
  transform: translateY(0);
}

.CurrencyComponent:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.08);
}

.CurrencyComponent:hover
  .CurrencyComponentRightSide
  .CurrencyComponentRightSideTop
  span {
  opacity: 1;
}

.CurrencyComponent:hover
  .CurrencyComponentRightSide
  .CurrencyComponentRightSideButton {
  opacity: 1;
  pointer-events: auto;
  transition: 0.2s;
}

.CurrencyComponent:hover .CurrencyComponentRightSide small {
  opacity: 0;
  transition: 0.1s;
}

.CurrencyComponentLeftSide {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CurrencyComponentLeftSide img {
  max-height: 100%;
  max-width: 65%;
}

.CurrencyComponentRightSide {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-top: -2px;
  box-sizing: border-box;
}

.CurrencyComponentRightSide .CurrencyComponentRightSideValue {
  margin-bottom: 12px;
}

.CurrencyComponentRightSideTop {
  margin-bottom: 10px;
}

.CurrencyComponentRightSideTop span {
  font-size: 13px;
  text-decoration: underline;
  color: cadetblue;
  display: inline-block;
  top: -1px;
  left: 6px;
  position: relative;
  opacity: 0;
  transition: 0.3s;
}

.CurrencyComponentRightSide .CurrencyComponentRightSideButton {
  position: absolute;
  font-size: 13px;
  text-decoration: underline;
  color: cadetblue;
  display: inline-block;
  transition: 0.3s;
  bottom: 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s;
}

.CurrencyComponentRightSide small {
  opacity: 1;
  transition: 0.2s;
  color: #686f7f;
}

.CurrencyComponentHolder {
  position: relative;
}

.CurrencyComponentHolderLoader {
  width: 100%;
  height: 100%;
  position: absolute;
}

.SpinnerHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Spinner > div {
  display: inline-block;
  border-radius: 100%;
  margin: 2px;
  border: 3px solid #673ab7;
  border-bottom-color: transparent;
  height: 36px;
  width: 36px;
  animation: rotate-spinner 0.75s linear infinite;
}

@keyframes rotate-spinner {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ConverterComponent {
  box-shadow: 0 -8px 20px 0px rgba(0, 0, 0, 0.11);
  position: relative;
  box-sizing: border-box;
  display: block;
  background: #fff;
  z-index: 1;
}

.ConverterComponent > h1 {
  position: relative;
  margin: 0;
  margin-left: 65px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.ConverterComponent > h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #edf2f6;
  left: 0;
}

.ConverterComponentCurrency {
  position: relative;
  display: inline-block;
  margin-right: 70px;
  margin: 50px;
  border-radius: 25px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 1px 3px 18px 0px #ececec;
  padding: 26px;
}

.ConverterComponentCurrency:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 18px;
  width: 90%;
  border-radius: 25px;
  height: 92%;
  z-index: -1;
  box-shadow: 3px 11px 18px 5px #6db5ff;
  transform: scaleX(0.8);
  opacity: 0;
  transition: transform 0.1s 0.5s, opacity.5s;
}

.ConverterComponentCurrency.ConverterComponentCurrencyTarget:after {
  box-shadow: 3px 11px 18px 5px #ff6d88;
}

.ConverterComponentCurrency.Typing:after {
  transition: transform 0.5s, opacity 0.3s;
  opacity: 1;
  transform: scaleX(1);
}

.ConverterComponentCurrencyBase img {
  opacity: 1;
  transform: scale(1);
  transition: 0.5s cubic-bezier(0.06, 0.76, 0.15, 0.98);
}

.ConverterComponentCurrencyBase.Updating img {
  opacity: 0;
  transform: scale(0.8);
  transition: 0s;
}

.ConverterComponentCurrencyTopInfo {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.ConverterComponentCurrencyTopInfo img {
  width: 106px;
  padding: 8px;
  box-sizing: border-box;
}

.ConverterComponentCurrencyTopInfoContent {
  margin-left: 20px;
}

.ConverterComponentCurrencyTopInfoContent > h2 {
  margin: 10px 5px;
}

.ConverterComponentCurrencyTopInfoContent > h4 {
  margin: 10px 5px;
  font-weight: 400;
}

.ConverterComponentInputHolder {
  position: relative;
  border-bottom: 2px solid #eaeaea;
}

.ConverterComponentInputHolder input {
  max-width: 264px;
  font-size: 41px;
  border: none;
  margin: 0 auto;
  font-weight: 300;
  border-radius: 2px;
  padding: 13px;
  margin-right: 60px;
}

.ConverterComponentInputHolder input:focus {
  outline: none;
  -webkit-appearance: none;
}

.ConverterComponentInputHolder span {
  position: absolute;
  font-size: 24px;
  right: 11px;
  top: 26px;
}

.ConverterComponentCurrencyLoader {
  position: absolute;
  width: 106px;
  height: 106px;
}

ul {
  padding-left: 30px;
}

.BackToTop {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 20px;
  right: 40px;
  background: #fff;
  padding: 10px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  box-shadow: 1px 3px 18px 0px #ececec;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  transform: translateY(50px);
}

.BackToTop.Visible {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s;
  pointer-events: all;
}

.BackToTop svg {
  width: 20px;
  height: 20px;
}

.BackToTop svg path {
  fill: #1e201d;
}

.Logo {
  display: flex;
  align-items: center;
  padding-left: 23px;
  padding-top: 20px;
  padding-bottom: 23px;
  background: #252525;
}

.Logo svg {
  fill: #fff;
  width: 70px;
  overflow: visible;
  cursor: pointer;
}

.Logo svg path:first-child {
  fill: #43ffce;
  transform-origin: 32% 25%;
  animation: animateLogo 1s;
  transition: 0.5s;
}

.Logo svg:hover path:first-child {
  transform: rotate(360deg);
}

@keyframes animateLogo {
  to {
    transform: rotate(360deg);
  }
}

.Logo span {
  color: #fff;
  font-weight: 700;
  display: inline-block;
  font-size: 24px;
  margin-top: 17px;
  margin-left: 10px;
}

.Logo span p {
  display: block;
  font-size: 12px;
  color: #ececec;
  font-family: monospace;
  margin-left: 5px;
  margin-top: 5px;
}

.SidebarItemsHolder {
  margin-top: 26px;
}

.SidebarItem {
  padding: 7px 42px;
}

.SidebarItem a {
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 6px;
  padding: 13px;
  text-decoration: none;
  font-size: 19px;
  transition: 0.1s;
}

.SidebarItem a:hover,
.SidebarItem.Active a {
  background: #252525;
}

.SidebarSeparator {
  background-color: #151515;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.SidebarItem .SidebarItemSVGHolder {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.SidebarItem .SidebarItemSVGHolder svg {
  width: 30px;
  height: 30px;
  fill: #d0d0d0;
}

.SidebarItem .SidebarItemLabel {
  margin-left: 15px;
  margin-top: 5px;
}

.SidebarSmallText {
  position: absolute;
  bottom: 20px;
  left: 52px;
  font-size: 12px;
  color: #ececec;
  font-family: monospace;
}

.NotificationComponentHolder {
  position: absolute;
  bottom: 64px;
  margin: 33px 30px 0 37px;
  width: 270px;
  z-index: 123;
}

.NotificationItem {
  background: #252525;
  color: #ffffff;
  border: 1px solid #2b2b2b;
  padding: 15px;
  font-size: 15px;
  margin: 19px 14px 9px 13px;
  border-radius: 10px 10px 10px 0;
  opacity: 0;
  transform: translateY(10px);
  animation: notification-appear 10s cubic-bezier(0.04, 0.68, 0.25, 1) forwards;
}

.NotificationItem a {
  color: #43ffce;
}

@keyframes notification-appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
  }
  2% {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
  95% {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
    pointer-events: none;
  }
}

.NotificationTypingLoaderHolder {
  margin: 25px 13px 13px 13px;
  color: #fff;
  opacity: 0;
  transition: 0s;
}

.NotificationTypingLoaderHolder.Visible {
  opacity: 1;
  transition: 0.3s;
}

.NotificationTypingLoader span {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  transform-origin: center;
  animation: notificationLoader 1s infinite;
}

.NotificationTypingLoader span:nth-child(2) {
  animation-delay: 0.3s;
}

.NotificationTypingLoader span:nth-child(2) {
  animation-delay: 0.6s;
}

@keyframes notificationLoader {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
}

.SearchComponent {
  position: relative;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.SearchComponent input {
  position: relative;
  max-width: 281px;
  font-size: 23px;
  border: none;
  margin: 0 auto;
  font-weight: 300;
  border-radius: 2px;
  padding: 13px;
  padding-left: 2px;
  margin-left: 0;
  background: transparent;
  border-bottom: 2px solid #dadada;
  transition: .2s;
}

.SearchComponent input:focus {
  border-bottom: 2px solid #afafaf;
  outline: none;
  -webkit-appearance: none;
}

.SearchComponent span {
  position: absolute;
  right: 11px;
}

.SearchComponent svg {
  width: 25px;
  height: 25px;
  fill: #3c3c3c;
}

.ContentTopHolder {
  position: relative;
  padding: 33px 50px 10px 50px;
  display: flex;
  align-items: center;
}

.ContentTopHolder > div {
  position: relative;
  display: inline-block;
  width: 50%;
}
